<?xml version="1.0" encoding="utf-8"?>

<Project xmlns="http://schemas.postsharp.org/1.0/configuration">

  <Logging xmlns="clr-namespace:PostSharp.Patterns.Diagnostics;assembly:PostSharp.Patterns.Diagnostics">
    <Profiles>
      <LoggingProfile Name="Default" IncludeSourceLineInfo="True" IncludeExecutionTime="True"/>
    </Profiles>
  </Logging>
</Project>