<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PostSharp" version="6.0.11-preview" targetFramework="net40" developmentDependency="true" />
  <package id="PostSharp.Patterns.Aggregation" version="6.0.11-preview" targetFramework="net40" developmentDependency="true" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="6.0.11-preview" targetFramework="net40" />
  <package id="PostSharp.Patterns.Common" version="6.0.11-preview" targetFramework="net40" developmentDependency="true" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.0.11-preview" targetFramework="net40" />
  <package id="PostSharp.Patterns.Threading" version="6.0.11-preview" targetFramework="net40" developmentDependency="true" />
  <package id="PostSharp.Patterns.Threading.Redist" version="6.0.11-preview" targetFramework="net40" />
  <package id="PostSharp.Redist" version="6.0.11-preview" targetFramework="net40" />
</packages>