<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.postsharp.org/1.0/configuration" xmlns:diag="clr-namespace:PostSharp.Patterns.Diagnostics;assembly:PostSharp.Patterns.Diagnostics">

    <Using File="C:\src\postsharp\Patterns\Build\bin\Debug\PostSharp.Patterns.Common.Weaver.dll"/>
    <Using File="C:\src\postsharp\Patterns\Build\bin\Debug\PostSharp.Patterns.Diagnostics.Weaver.dll"/>
 
</Project>