<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="OrderDb"
         connectionString="metadata=res://*/Data.OrderDataModel.csdl|res://*/Data.OrderDataModel.ssdl|res://*/Data.OrderDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Orders.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="FinanceDb"
         connectionString="metadata=res://*/Data.FinanceDataModel.csdl|res://*/Data.FinanceDataModel.ssdl|res://*/Data.FinanceDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Finances.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>