<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gibraltar.Agent" version="4.5.15" targetFramework="net46" />
  <package id="Gibraltar.Loupe.Viewer" version="4.1.25" targetFramework="net46" />
  <package id="PostSharp" version="6.0.16-rc" targetFramework="net46" developmentDependency="true" />
  <package id="PostSharp.Patterns.Common" version="6.0.16-rc" targetFramework="net46" developmentDependency="true" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.0.16-rc" targetFramework="net46" />
  <package id="PostSharp.Patterns.Diagnostics" version="6.0.16-rc" targetFramework="net46" developmentDependency="true" />
  <package id="PostSharp.Patterns.Diagnostics.Loupe" version="6.0.16-rc" targetFramework="net46" />
  <package id="PostSharp.Patterns.Diagnostics.Redist" version="6.0.16-rc" targetFramework="net46" />
  <package id="PostSharp.Redist" version="6.0.16-rc" targetFramework="net46" />
</packages>